<nav class="navbar navbar-expand-lg bg-light p-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active button-85 p-2 m-3" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active button-85 p-2 m-3" aria-current="page" href="support">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark button-85 p-2 m-3" aria-current="page" href="employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark button-85 p-2 m-3" aria-current="page" href="khelmasti">Khelo</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active text-dark button-85 p-2 m-3" aria-current="page" href="employee">Student</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <a type="submit" class="nav-link active button-85 text-dark p-2 m-2" aria-current="page" href="login">Login</a>
        <!-- <a type="submit" class="nav-link active button-85 text-dark p-2 m-2" hidden aria-current="page" href="login">Login</a> -->
        <a type="submit" class="nav-link active button-85 text-dark p-2 m-2" aria-current="page" href="signup">Register</a>
       
      </form>
    </div>
  </div>
</nav>


<router-outlet></router-outlet> 